.sidebar {
  width: 85vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -85vw;
  background-color: #f8f9fa;
  transition: left 0.3s ease;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar.active {
  left: 0px;
}

.info-block {
  margin-bottom: 20px;
}

.addSidebar {
  width: 85vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -85vw;
  background-color: #f8f9fa;
  overflow-y: scroll;
  transition: left 0.3s ease;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.addSidebar.active {
  left: 0px;
}

.info-block {
  margin-bottom: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

#imgButton {
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fade-out {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.fade-out button {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.fade-out button:active {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.25s ease-in;
  opacity: 1;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info-box {
  padding: 10px;
  background: #f8f9fa;
  text-align: center;
  border-top: 1px solid #ddd;
}

.addEventButton {
  position: absolute;
  bottom: 3%; 
  right: 1%; 
  font-size: 1.8rem
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}